[submodule "gubg.std"]
	path = gubg.std
	url = https://github.com/gfannes/gubg.std
	branch = master
[submodule "gubg.build"]
	path = gubg.build
	url = https://github.com/gfannes/gubg.build
	branch = master
[submodule "gubg.tools"]
	path = gubg.tools
	url = https://github.com/gfannes/gubg.tools
	branch = master
[submodule "gubg.ui"]
	path = gubg.ui
	url = https://github.com/gfannes/gubg.ui
	branch = master
[submodule "gubg.tools.pm"]
	path = gubg.tools.pm
	url = https://github.com/gfannes/gubg.tools.pm
	branch = master
[submodule "gubg.io"]
	path = gubg.io
	url = https://github.com/gfannes/gubg.io
	branch = master
[submodule "gubg.nodejs"]
	path = gubg.nodejs
	url = https://github.com/gfannes/gubg.nodejs.git
	branch = master
[submodule "gubg.algo"]
	path = gubg.algo
	url = https://github.com/gfannes/gubg.algo.git
	branch = master
[submodule "gubg.chaiscript"]
	path = gubg.chaiscript
	url = https://github.com/gfannes/gubg.chaiscript.git
	branch = master
[submodule "gubg.math"]
	path = gubg.math
	url = https://github.com/gfannes/gubg.math.git
	branch = master
[submodule "gubg.data"]
	path = gubg.data
	url = https://github.com/gfannes/gubg.data
	branch = master
[submodule "gubg.arduino"]
	path = gubg.arduino
	url = https://github.com/gfannes/gubg.arduino
	branch = master
[submodule "cook"]
	path = cook
	url = https://github.com/gfannes/cook
	branch = clean
[submodule "gubg.ml"]
	path = gubg.ml
	url = https://github.com/gfannes/gubg.ml
	branch = master
